.project__coverPicture {
    display: block;
}

.project__languagePicture {
    display: none;
}

.project:hover > .project__picture > .project__coverPicture {
    display: none;
}

.project:hover > .project__picture > .project__languagePicture {
    display: block;
}
