.home {
    /* background: url('../../assets/background.jpg'); */
    /* background: url('../../assets/bg-1.jpg');
    background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
}

/* .home__intro {
    font-family: 'raleway';
} */

.blackBackground {
    background-color: black;
}

.transparentBackground {
    background: transparent;
}
